*{
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  font: 400 16px/24px Roboto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

header{
  margin-top: 60px;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  margin-bottom: 2rem;
}

#charts{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.chart-container{
  width: 35%;
  margin: 10px;
}

.chart{
  width: 100%;
}

#total{
  font-size: 80px;
  line-height: 90px;
  color: salmon;
  margin: 5px auto;
}